<div class="container">
  <div class="col-md-4 card m-auto mb-5">
    <form >
      <div class="card-body">
        <h4>Log In</h4>
        <div class="cc d-flex"><a routerLink="/admin" routerLinkActive="active"> Back</a></div>
          <div class="form-groub">
            <label for="">Email</label>
            <input type="email" [(ngModel)]="userEmail" name="email" class="form-control">
          </div>
          <div class="form-groub">
            <label for="">Password</label>
            <input type="password"  [(ngModel)]="userPassword" name="password"class="form-control">
          </div>

          <div class="form-groub mt-3">
            <button class="form-control btn btn-success" (click)="submit()">Login</button>
          </div>
      </div>
    </form>
    </div>

</div>
